.App {
  text-align: center;
}

.title{
 background-color: #34495c;
color: aliceblue;
font-weight: 500;
font-size: 50px;
border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
}
.container{
display:flex;
  flex-direction: column;
  align-content: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  
}
.add{
  display: flex;
  width:100%;
  align-items: center;
  
}
.plusstyle{
  background-color:green ;
color:white
}
.input{
  display: flex;
  align-self: stretch;
  width:94%;
  background-color: white;
  
  
}
.todo{padding: 10px;
  border: 1px solid grey;
  display: flex;
  background-color: #2abb9c;
justify-content: space-between;
align-items: center;
}
.done{
  border-radius: 5px;
  padding: 5px;
  background-color: #da3748;
  border : 1px solid #2abb9c;
  color: white;
}
.inputdone{
  border-radius: 5px;
  color:black;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
}
.todo1{
  
  display: flex;
justify-content: space-between;

align-items: center;}
.todo2{
  width : 15%;
  display: flex;
justify-content: space-between;
}
.check{
  background-color:white;
  color:white
}
.label{
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.plus{
 padding: 5px;
  color:white;
cursor: pointer;
}
.trash{
  color:green;
cursor: pointer;
}
.edit{
  color:#da3748;
cursor: pointer;
}